<div class="container">
  <div class="row">
    <article class="col col-is-12">
      <h1>Configuration</h1>
      <p>The configuration variables are the they dials and knobs that adjsut everything. Wowza!</p>
    </article>
    <section class="col col-is-12">
      <table>
        <thead>
          <tr>
            <th>Variable</th>
            <th>Default</th>
            <th>What it do</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$rem-size</td>
            <td>16px</td>
            <td>Defines the basic size from which all others are derived.</td>
          </tr>
          <tr>
            <td>$ratio</td>
            <td>1.618</td>
            <td>Establishes a ratio for sizing along the typographic scale.</td>
          </tr>
          <tr>
            <td>$body-size</td>
            <td>1rem</td>
            <td>Defines the default size of body type.</td>
          </tr>
          <tr>
            <td>$small-size</td>
            <td>0.85rem</td>
            <td>Defines a secondary, smaller size for type. Is used to create a double stranded typographic scale.</td>
          </tr>
          <tr>
            <td>$baseline</td>
            <td>0.25rem</td>
            <td>Establishes the baseline grid.</td>
          </tr>
          <tr>
            <td>$leading</td>
            <td>5*$baseline</td>
            <td>Establishes the default leading for type.</td>
          </tr>
          <tr>
            <td>$indent</td>
            <td>1em</td>
            <td>Establishes the standard indent to use when applicable.</td>
          </tr>
          <tr>
            <td>$container-ratio</td>
            <td>11/12</td>
            <td>Defines the proportion of grid width to screen width at <b>small</b> screen sizes.</td>
          </tr>
          <tr>
            <td>$container-ratio-medium</td>
            <td>10/12</td>
            <td>Defines the proportion of grid width to screen width at <b>medium</b> screen sizes.</td>
          </tr>
          <tr>
            <td>$container-ratio-large</td>
            <td>8/12</td>
            <td>Defines the proportion of grid width to screen width at <b>large</b> screen sizes.</td>
          </tr>
          <tr>
            <td>$small </td>
            <td>30rem</td>
            <td>When to switch out of <b>small</b> sizing.</td>
          </tr>
          <tr>
            <td>$large </td>
            <td>60rem</td>
            <td>When to switch out of <b>medium</b> sizing.</td>
          </tr>
          <tr>
            <td>$max-width</td>
            <td>60rem</td>
            <td>The maximum width of the content grid.</td>
          </tr>
          <tr>
            <td>$gutter</td>
            <td>4%</td>
            <td>The width of gutters between columns.</td>
          </tr>
          <tr>
            <td>$col-count</td>
            <td>12</td>
            <td>The number of columns to build the grid with.</td>
          </tr>
          <tr>
            <td>$padding-x</td>
            <td>$gutter</td>
            <td>The default padding of columns on the x-axis.</td>
          </tr>
          <tr>
            <td>$padding-y</td>
            <td>$baseline</td>
            <td>The default padding of columns on the y-axis.</td>
          </tr>
          <tr>
            <td>$padding-outer-x</td>
            <td>$gutter / 2</td>
            <td>The default padding of outside columns on the x-axis.</td>
          </tr>
          <tr>
            <td>$padding-outer-y</td>
            <td>$baseline</td>
            <td>The default padding of outside columns on the y-axis.</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>