<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="lead-4">Modular Design System</h1>
      <blockquote>A modular design system for web, informed by the analog</blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Overview</h5>
      <ul>
        <li><a href="/introduction">Introduction</a></li>
        <li><a href="/design-systems">What is a Design System?</a></li>
        <li><a href="/usage">Getting Started</a></li>
      </ul>
    </div>
    <div class="col lead-2">
      <h5>Underlying Structures</h5>
      <ul>
        <li><a href="/grid">Reset</a></li>
        <li><a href="/grid">Configuration</a></li>
        <li><a href="/grid">Media Queries</a></li>
        <li><a href="/grid">Flex Grid</a></li>
        <li><a href="/type">Typographic Structure</a></li>
      </ul>
      <h5 class="lead-4">JavaScript</h5>
      <ul>
        <li><a href="/not-a-framework">Not A Framework</a></li>
        <li><a href="/bus">Pub/Sub Bus</a></li>
        <li><a href="/aria">Aria</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/class">Class</a></li>
        <li><a href="/dom">DOM</a></li>
      </ul>
    </div>
    <div class="col lead-4">
      <h5>Design Patterns</h5>
      <ul>
        <li><a href="/forms">Forms</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/tables">Tables</a></li>
        <li><a href="/tooltips">Tooltips</a></li>
        <li><a href="/modals">Modals</a></li>
        <li><a href="/tabs">Tabs</a></li>
        <li><a href="/dropdowns">Dropdowns</a></li>
        <li><a href="/drawers">Drawers</a></li>
      </ul>
    </div>
  </div>
</div>
